html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    font-family: 'Coda', cursive;
}

/* content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    text-transform: capitalize;
}

.scores {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.scores .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: yellow;
}

.scores .stars li {
    list-style: none;
    display: inline-block;
}


.scores .restart {
    float: right;
    cursor: pointer;
}

.decks {
    background: linear-gradient(160deg, #03d3b9, #b26acc);
    max-width: 660px;
    min-height: 680px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    padding: 30px;
}

.card {
    height: 125px;
    width: 125px;
    margin: 5px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
            box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-transition:
    font-size 0.3s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.5s,
    -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    -moz-transition:
    font-size 0.3s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.5s,
    -moz-transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    -o-transition:
    font-size 0.3s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background 0.5s;

    transition:
    font-size 0.3s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background 0.5s,
    -webkit-transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.open {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #02b3e4;
    cursor: default;
}

.show {
    font-size: 33px;
}

.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.empty-star {
    color: white;
}

.matching-icons {
    transform: rotateY(0);
    background: green;
    cursor: default;
    font-size: 33px;
}

.non-matching-icons {
 
    background: red;
    cursor: default;
    font-size: 33px;
}
.card.rubberBand {
    -webkit-animation-name: rubberBand;
    -moz-animation-name: rubberBand;
    -o-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: .75s;
    -moz-animation-duration: .75s;
    -o-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.card.rubberBand .fa {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}


.heartBeat {
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  
/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: 60%;
    margin: 20% auto;
    border-radius: 8px;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    -webkit-animation-name: ModalOpen;
    -moz-animation-name: ModalOpen;
    -o-animation-name: ModalOpen;
    animation-name: ModalOpen;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.modal-header {
    background: -webkit-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
    background: -o-linear-gradient(290deg, #02ccba 0%, #aa7ecd 100%);
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 15px;
    color: #fff;
}

.modal-header h2 {
    text-align: center;
    margin: 0;
}

.modal-close-btn {
    float: right;
    font-size: 1.5em;
    color: #fff;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    color: #000;
    padding: 10px 20px;
    text-align: center;
}

.replay {
    padding: 1em;
}

.modal-replay-btn {
    display: block;
    background-color: #8c4ed6;
    color: white;
    font-size: 16px;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    margin: auto;
    -webkit-box-shadow: 7px 7px 30px #999999;
    box-shadow: 7px 7px 30px #999999;
    -webkit-transition: -webkit-box-shadow 0.5s;
    -moz-transition: -webkit-box-shadow 0.5s;
    -o-transition: -webkit-box-shadow 0.5s;
    transition: -webkit-box-shadow 0.5s;
    -o-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.modal-replay-btn:hover,
.modal-replay-btn:focus {
    -webkit-box-shadow: 2px 2px 7px #6f6f6f;
    box-shadow: 2px 2px 7px #6f6f6f;
    color: #000;
    cursor: pointer;
}



/* animations */

@-webkit-keyframes ModalOpen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes ModalOpen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-o-keyframes ModalOpen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes ModalOpen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes rubberBand {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }


@-webkit-keyframes heartBeat {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    14% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    28% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    42% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    70% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes heartBeat {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    14% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    28% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    42% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    70% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  

  /* media queries */

@media only screen and (max-width: 320px) {
.card {
    height: 55px;
    width: 52px;
    margin: -2px;
}
}

@media only screen and (min-width: 321px) and (max-width: 374px) {
    .card {
        height: 60px;
        width: 60px;
        margin: -2px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 410px) {
    .card {
        height: 70px;
        width: 64px;
        margin: 0;
    }
}

@media only screen and (min-width: 411px) and (max-width: 767px) {
    .card {
        height: 70px;
        width: 70px;
        margin: 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .card {
        height: 122px;
        width: 122px;
        margin: 0;
    }
}